# yk what these r
.DS_Store
.vscode
shell.bat

# don't need all excess files in build
build/*
!build/obj/
#mac building
!build/build.sh
!build/run.sh
# windows building
!build/build.bat
!build/run.bat

# want to include roms
!build/roms